/* red-hat-display-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-display-v20-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red-hat-display-v20-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/red-hat-display-v20-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.button {
  border-radius: 29px;
  padding: 16px 40px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: 900;
  color: hsl(0, 0%, 98%);
  border: none;
  margin-right: 1rem;
}

.buttons {
  text-align: center;
}

.button-blue {
  background-color: rgb(77, 150, 168);
  margin-block-end: 1rem;
}
@media (width = 43.75rem) {
  .button-blue {
    margin-right: 1rem;
  }
}
.button-blue .version {
  color: hsl(192, 90%, 77%);
}

.button-blue:hover {
  background-color: hsl(192, 54%, 64%);
}

.button-purple {
  background-color: hsl(268, 34%, 53%);
}
.button-purple .version {
  color: hsl(268, 100%, 86%);
}

.button-purple:hover {
  background-color: hsl(269, 56%, 70%);
}

header {
  margin-block-start: 3rem;
  margin-block-end: 4rem;
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero__image {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  margin-block-end: 3rem;
}
@media (width < 43.75rem) {
  .hero__image {
    gap: 1rem;
  }
}
@media (width >= 68.75rem) {
  .hero__image {
    gap: 40rem;
  }
}
.hero__image__left {
  width: 120%;
  height: auto;
  margin-left: -30px;
  overflow-x: hidden;
  max-width: 394px;
}
.hero__image__right {
  width: 120%;
  height: auto;
  max-width: 394px;
}

.hero__text {
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (width >= 43.75rem) {
  .hero__text {
    max-width: 448px;
    margin: auto auto;
  }
}
@media (width >= 68.75rem) {
  .hero__text {
    margin-block-start: -19rem;
  }
}

.hero__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(2.5rem, 1.429rem + 2.857vw, 4rem);
  line-height: 1.1;
  letter-spacing: 0px;
  font-weight: 900;
  text-align: center;
  text-wrap: balance;
  margin-block-end: 1.5rem;
  color: hsl(240, 21%, 20%);
}

.hero__description {
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
  line-height: 1.1;
  letter-spacing: 0px;
  font-weight: 500;
  color: hsl(240, 10%, 57%);
  text-align: center;
  margin-block-end: 1.5rem;
  line-height: 1.5;
  word-break: keep-all;
}

.divider {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
}
.divider__line {
  height: 80px;
  width: 1px;
  background-color: hsl(240, 18%, 85%);
}
.divider__text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: 900;
  color: hsl(240, 10%, 57%);
  padding: 16px 18px;
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 999px;
  background-color: hsl(0, 0%, 98%);
}

.meetings {
  margin-block-start: 4rem;
}
.meetings__images {
  display: grid;
}
@media (width < 43.75rem) {
  .meetings__images {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .meetings__images .meetings__image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}
@media (width >= 43.75rem) {
  .meetings__images {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .meetings__images .meetings__image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}
.meetings__subtitle {
  margin-block-start: 4rem;
  color: rgb(77, 150, 168);
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
  line-height: 1.1;
  letter-spacing: 4px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.meetings__title {
  margin-block-start: 1rem;
  color: hsl(240, 21%, 20%);
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  line-height: 1.1;
  letter-spacing: 0px;
  font-weight: 900;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (width >= 43.75rem) {
  .meetings__title {
    max-width: 445px;
    margin: auto auto;
    margin-block-start: 1rem;
  }
}
.meetings__description {
  text-align: center;
  margin-block-start: 2rem;
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
  line-height: 1.1;
  letter-spacing: 0px;
  font-weight: 500;
  color: hsl(240, 10%, 57%);
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (width >= 43.75rem) {
  .meetings__description {
    margin: auto auto;
    max-width: 445px;
    margin-block-start: 2rem;
  }
}

.footer {
  z-index: -1;
  text-align: center;
  background: url("../mobile/image-footer.jpg") 0 0 no-repeat;
  background-size: cover;
  margin-block-start: -30px;
}
@media (width >= 43.75rem) {
  .footer {
    background: url("../tablet/image-footer.jpg") 0 0 no-repeat;
    background-size: cover;
  }
}
@media (width > 68.75rem) {
  .footer {
    background: url("../desktop/image-footer.jpg") 0 0 no-repeat;
    background-size: cover;
  }
  .footer .footer__text {
    display: flex;
    margin-block-start: 7rem;
    margin-block-end: 7rem;
    gap: 2rem;
  }
}
.footer__overlay {
  background: rgba(77, 150, 168, 0.8);
  overflow: hidden;
}
.footer__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  line-height: 1.1;
  letter-spacing: 0px;
  font-weight: 900;
  color: hsl(0, 0%, 98%);
  margin-block-start: 4rem;
}
@media (width > 68.75rem) {
  .footer__title {
    margin-block-start: 0;
    width: 15ch;
    text-align: left;
    margin-left: 160px;
  }
}
.footer__description {
  margin-block-start: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
  line-height: 1.1;
  letter-spacing: 0px;
  font-weight: 500;
  color: hsl(0, 0%, 98%);
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (width >= 43.75rem) {
  .footer__description {
    margin: auto auto;
    max-width: 445px;
    margin-block-start: 2rem;
    margin-block-start: 1.5rem;
  }
}
@media (width > 68.75rem) {
  .footer__description {
    margin-block-start: 0;
    width: 25ch;
    text-align: left;
  }
}
.footer__button {
  margin-block-start: 1.5rem;
  margin-block-end: 4rem;
}
@media (width > 68.75rem) {
  .footer__button {
    margin-block-start: 0;
    margin-right: 160px;
  }
}/*# sourceMappingURL=styles.css.map */